
*.h5ad
*.pdf
fixation/.ipynb_checkpoints/scanpy-Copy.forRanks.analysis.normalized-checkpoint.ipynb
fixation/.ipynb_checkpoints/scanpy-Copy1.analysis.NOT.normalized-checkpoint.ipynb
fixation/.ipynb_checkpoints/scanpy.analysis.normalized-checkpoint.ipynb
fixation/.ipynb_checkpoints/scanpy.analysis.NOT.normalized-checkpoint.ipynb
fixation/scanpy/.ipynb_checkpoints/scanpy.analysis.normalized-checkpoint.ipynb
10x/.ipynb_checkpoints/10x-checkpoint.ipynb
bulk_RNAseq/trimming/messages.cleaner.txt
